#title{
    color: rgb(1, 8, 8);
    text-align: center;
    font-size: 5vh;
}

#summary{
    text-align: center;
}


body{
    background-color: gray;
}


#containerTecnologies{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:gainsboro;
}

#imgContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 80vh;
    
}

#formActivities{
    background-color: gainsboro;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}


#buttonAdd{
    height: 2vh;
    width: 15vh;
    margin-left: 9.5vh;
    align-self:flex-start
;
}

#activity{
    width: 180vh;
    height: 2vh;
}

#description{
    width: 180vh;
    height: 10vh;
    padding-top: 10px;
    line-height: 1.2;
    resize: none;
     font-family: sans-serif;

}

#link{
    width: 180vh;
    height: 2vh;
   
}

.newActivity{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
   
}



.newBox{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 30vh;
    
}


.imgs{
    border-radius: 3vh;
    height: 10vh;
    width: 20vh;
}