#title{
    color: aqua;
    text-align: center;
    font-size: 5vh;
}

#summary{
    text-align: center;
}


body{
    background-color: gray;
}


#containerTecnologies{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:gainsboro;
}

#imgContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 80vh;
    
}

#formActivities{
    background-color: aqua;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}


#buttonAdd{
    height: 2vh;
    width: 15vh;
    margin-left: 9.5vh;
    align-self:flex-start
;
}

#activity{
    width: 80vh;
    height: 2vh;
}

#description{
    width: 80vh;
    height: 10vh;
    text-align:start;
  
}

#link{
    width: 80vh;
    height: 2vh;
   
}